* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "iconfont";
    src: url('..//iconfont/iconfont.eot');
    /* IE9 */
    src: url('../iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff2') format('woff2'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../iconfont/iconfont.svg') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e676";
}

ul {
    list-style: none;
}

#tab input {
    width: 80%;
    height: 60%;
}

main {
    width: 1000px;
    height: 500px;
    border: 1px solid orange;
    margin: 200px auto;
}


/* ### tab bar ### */

main .tabbar {
    position: relative;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ccc;
}

main .tabbar ul {
    overflow: hidden;
    height: 48px;
    text-align: center;
}

main .tabbar ul li {
    float: left;
    position: relative;
    width: 100px;
    height: 100%;
    line-height: 50px;
    border-right: 1px solid #ccc;
}

main .tabbar ul li .iconfont::before {
    content: '\e676';
    position: absolute;
    top: -18px;
    right: -1px;
}

main .tabbar ul li span:nth-child(2):hover,
main .tabbar .add-list:hover {
    cursor: pointer;
}

main .tabbar ul li.li-active {
    border-bottom: 2px solid #fff;
    z-index: 9;
}

main .tabbar .add-list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 50px;
    text-align: right;
}

main .tabbar .add-list span {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #ccc;
    font-size: 23px;
    margin-right: 10px;
}


/* ### section ### */

main .tab-content {
    overflow: hidden;
    width: 100%;
    height: 450px;
}

main .tab-content section {
    display: none;
    width: 90%;
    height: 300px;
    margin: 30px auto;
    position: relative;
}

main .tab-content section.content-active {
    display: block;
}

main .tab-content section input {
    width: 100%;
    height: 100%;
}